div{
    height: 200px;
    width: 200px;
    background-color: aqua;
    margin: 10px;   
    border: 2px solid rgb(216, 16, 16);
    display: inline-block;
    /* elements style is as blocks but will behave as inline */
    /* if want in single line and also dont want to lose the css property */
}