*{
    font-family: Arial, Helvetica, sans-serif;
}
h1,h3{
    color: #b92b27;
    text-align: center;
    font-size: 20px;
    
    
    letter-spacing: 1.5px;

}
h3{
    text-align: left;
}
  /* id selector */
#login{
    text-align: right;
    text-decoration: none;
    color : #b92b27;
    background-color: wheat;
}

#signup{
    text-align: right;
    text-decoration: none;  
    color : #b92b27;
    background-color: wheat;
}
/* class selector */
.vote{
    background-color: aquamarine;
}
.follow {
    text-decoration: none;
}
/* descendant selector */
main p a{
    color : green;
    background-color: yellow;
}
/* sibling combinator */
p + h3{
   text-decoration: underline;
}
.vote + button{
    background-color: yellowgreen;
}
/* child combinator */
div > input{
    background-color: rgb(187, 228, 239);
}
nav > ul{
    color: rgb(255, 45, 160);
    
}
/* attribute selector */
input[type="text"]{
    color: rgb(238, 70, 14);
}
input[type="password"] submit{
    color: rgb(238, 70, 14);
}
div[id ="myid"] button{
    color: rgb(238, 70, 14);
}
/* pseudo-class selector */
a:hover{
    color: rgb(238, 70, 14);
}
button:active{
    background-color: rgb(67, 7, 207);
    color : rgb(14, 238, 29);
}
input[type = "radio"]:checked + label{
    color: rgb(238, 70, 14);
    font-weight: bold;
}
.post:nth-of-type(2n) {
   background-color: rgb(32, 206, 194);
    /* cascading done for it */
} 
/* pseudo-element selector */
h3::first-letter{
    color: rgb(20, 209, 52);
    font-weight: bold;
}
p::first-line{
    color: rgb(186, 70, 70);
    font-weight: bold;
}
p::selection{
    color: rgb(238, 70, 14);
    background-color: rgb(50, 228, 62);
}