div{
    background-color: rgb(227, 239, 187);
}
/* form and para  will inherit the backgroung color from div  */
form{
    background-color: blueviolet;
}
/* given form a separate backgroung color   */

/* input box by default will not inhert the property if you want it to inherit it we need to write it separately   */
/* input{
    background-color: inherit;
} */
button{
    background-color: inherit;
}