/* percentage  */
/* it is often used to define a size as relative to an element's parent object
 eg width : 33.33%  */

 h1{
    background-color: blue;
    border : 1px solid black;
    width: 33.33%;
    /* it is done related to the parent 1/3rd of the parent 100%  */

    
}

#outter{
    width: 300px;
    height: 200px;
    background-color: red;
    border: 1px solid black;
}
#inner{
    width: 100px;
    height: 100px;
    background-color: green;
    border: 1px solid black;
    margin-left: 10% ;
    margin-top: 20%;
    /* it shift from left side by 10% of 300px width of parents */
}