/* rem unit is relative to the root element of the document  */


section{
    font-size: 20px;
    
}
div{
    font-size: 2rem;
 /* here the font size is not related to section(parent ) but html(root) */

    background-color: pink;
}